# dependencies
node_modules

# env
.env
.env.*.local

# build outputs
dist
build
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# mobile
.expo
.expo-shared
